@page "/register"
@layout EmptyLayout

<div class="d-flex justify-content-center align-items-start vh-100">
    <h4>Sign Up</h4>
    <div class="form-group d-flex flex-column p-1 bd-highlight mb-3 ">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill-add"></i></span>
            </div>
            <input type="text" class="form-control" @bind="Registration.Name" id="fullname" placeholder="Enter Full Name" aria-label="Name" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group  mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at-fill"></i></span>
            </div>
            <input type="text" @bind="Registration.Username" class="form-control" id="email"  placeholder="Enter Email" aria-describedby="basic-addon1">
        </div>

        <div class="input-group  mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"> <i class="bi bi-key-fill"></i></span>
            </div>
            <input type="password" @bind="Registration.Password" class="form-control" id="Password1" placeholder="Enter Password">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"> <i class="bi bi-key"></i></span>
            </div>
            <input type="password"  @bind="Registration.confirmPassword" class="form-control" id="Password2" placeholder="Confirm Password">
        </div>

        <div class="mb-3">
            <label class="form-label required">Currency</label>
            <input type="text" class="form-control" @bind="Registration.Currency" placeholder="Enter your currency">
        </div>
        
        <p>Already Have An Account?
            <a  href="login" class="btn btn-primary" type="button">Log in</a>
        </p>
        <button  @onclick="RegisterHandler" class="btn btn-dark">resgister</button>

    </div>
</div>
<style>
    html, body {
        height: 100%; /* Ensures the height matches the viewport */
        overflow:hidden; /* Prevents scrolling */
    }

</style>



