@page "/Login"
@using ExpenseTrackerSystem.Components.Layout
@using ExpenseTrackerSystem.Models.Enums
@layout FirstLayout
<h3 xmlns="http://www.w3.org/1999/html">Login</h3>

<div class="d-flex justify-content-center align-items-start vh-100">
   
        <h4>Login</h4>
        <div class="form-group d-flex flex-column p-1 bd-highlight mb-3 ">
            <div class="input-group  mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at-fill"></i></span>
                </div>
                <input type="email" class="form-control" id="LoginEmail" @bind="email"  placeholder="Enter Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group  mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> <i class="bi bi-key-fill"></i></span>
                </div>

                <input type="password" class="form-control" @bind="password" id="LoginPassword" placeholder="Enter Password">
            </div>
            
            <div class="form-floating mb-3">
                
                <select class="form-select" id="floatingSelect" @bind="selectedCurrency" aria-label="Floating label select example">
                    <option value="">$Choose Currency</option>
                    <option value="1">@Currency.Nepalese</option>
                    <option value="2">@Currency.Usd</option>
                </select>
                
            </div>
            
            <p>Don't have an account?
                <button  @onclick="NavigateToRegister"  class="btn btn-primary">Sign Up </button>
            </p>
        </div>
        <button @onclick="LoginHandler"  class="btn btn-dark">Log In </button>
  
    @if (!string.IsNullOrEmpty(errorMessage))
    {
    <div class="p-1">
        <p style="color:red"><i class="bi bi-bug" style="color:red"></i>  @errorMessage</p>
    </div>
    }
</div>
<style>
    
    html, body {
        height: 100%; /* Ensures the height matches the viewport */
        overflow: hidden; /* Prevents scrolling */
    }
    
</style>

