<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="dashboard">Personal Expense Tracker</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="bi bi-grid-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tags" >
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tag
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="bi bi-grid-square-fill-nav-menu" aria-hidden="true"></span> Transaction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debts">
                <span class="bi bi-list-nested-nav-menu green-text" aria-hidden="true"></span> Debts
            </NavLink>
        </div>
        
    </nav>
</div>
